# Binários compilados
*.exe
*.exe~
*.dll
*.so
*.dylib
main
/app

# Arquivos de build
build/
bin/

# Módulos e pacotes baixados
vendor/

# Arquivos de configuração local
.env
.env.*

# Logs e caches
*.log
*.out
*.test

# IDEs e editores
.vscode/
.idea/
*.swp

# Sistema operacional
.DS_Store
Thumbs.db

# Docker (opcional)
docker-compose.override.yml
